<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome {{request.user}}</h1>
    {%if request.user.profile%} 
      <a href="{%url 'profile-edit' request.user.profile.id%}">edit profile</a>
      <a href="{%url 'profile-detail' request.user.profile.id%}">view profile</a>
    {%else%}
      <a href="{%url 'profile-add'%}">add profile</a>
    {%endif%}

 
</body>
</html>